---
layout: home
list_title: Nieuws
title: ""
---

<h2 style="text-align:center">Psychologische begeleiding en therapie</h2> 

{% assign: service_pages = site.pages | sort: 'order' %}
{% for page in service_pages %}
  {% if page.tag == 'service-page' %}
  
  <div>
    <div class="service-thumb">
      <img src="/images/{{ page.page-picture }}"/>
      <h2 style="text-align:center">{{ page.title }}</h2> 
      <p>
        {{ page.slug }}
      </p>
      <a href="{{ page.url }}">lees meer</a>

    </div>
    
  {% endif %}
{% endfor %}
</div>