---
layout: home
list_title: Nieuws
---

<h1 style="text-align:center">Psychologische begeleiding en therapie</h1> 
<div class="service-thumbs">

{% assign: service_pages = site.pages | sort: 'order' %}
{% for page in service_pages %}
  {% if page.tag == 'service-page' %}
  
    <div class="service-thumb">
      <img src="/images/{{ page.page-picture }}"/>
      <h2 style="text-align:center">{{ page.menutitle }}</h2> 
      <p>
        {{ page.description }}
      </p>
      <a href="{{ page.url }}">lees meer</a>
    </div>
  {% endif %}
{% endfor %}
<div style="clear:both;"></div>
</div>

