---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  background-color: #bdeabc;
}
.site-footer {
  background-color: #bdeabc;
}

.footer-col-wrapper {
  color: #42398c;
}

.site-title {
  display: block;
  width: 350px;
  height: 120px;
  background-image: url(/images/logo-2020--transp-350.png);
  background-repeat: no-repeat;
  @include media-query($on-palm) {
    width: 280px;
    height: 100px;
    background-size: 100%;
  }
}

div.service-thumb {
  float:left; 
  width:30%; 
  margin:0.5em;
  @include media-query($on-palm) {
    float: none; 
    width: fit-content;
    background-size: 100%;
  }
}

.right-picture {
  margin: 0 0 2em 2em; 
  width:25%;
  float:right;
  @include media-query($on-palm) {
    width:40%; 
  }
}